.cadastro {
  display: grid;
  justify-content: center;
}

.cadastro h1 {
  justify-self: center;
}

.cadastro-boxes {
  display: grid;
}

.cadastro-boxes label {
  display: block;
  margin-top: 1rem;
}

.cadastro-boxes input {
  padding: 1rem 4rem;
  border: 0px;
  border-bottom: 1px solid var(--c1);
  border-radius: 6.25rem;
}

.cadastro-boxes button {
  margin-top: 2rem;
}

#button-cadastro {
  justify-self: center;
  padding: 0.5rem 6rem;
}
