.conteudo-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 50px;
}

.conteudo-principal a {
  text-transform: uppercase;
}

.texto-principal {
  padding: 20px;
}

.texto-principal p {
  margin-top: 50px;
  max-width: 50ch;
  color: dimgrey;
}

.conteudo-principal img {
  height: 85%;
  object-fit: contain;
  border-radius: 50px;
}

@media (max-width: 800px) {
  .conteudo-principal {
    grid-template-columns: 1fr;
  }
  .conteudo-principal a {
    margin-top: 20px;
  }
  .texto-principal p {
    max-width: 100%;
  }
  .conteudo-principal img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
