.icon-whatsapp {
  position: fixed;
  bottom: 5%;
  right: 2%;
}

@media (max-width: 500px) {
  .icon-whatsapp {
    bottom: 0.02%;
    right: 0.2%;
  }
}

@media (max-width: 400px) {
  .icon-whatsapp {
    display: none;
  }
}
