.podcast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid var(--c1);
  gap: 20px;
  box-sizing: border-box;
  padding: 30px 10px;
}

@media (max-width: 1000px) {
  .podcast {
    grid-template-columns: 1fr;
  }
  .podcast-conteudo {
    justify-self: center;
    order: 2;
  }
}

@media (max-width: 630px) {
  .frame-podcast {
    display: none;
}
