.um-pouco-sobre-n-s,
.um-pouco-sobre-n-s * {
  box-sizing: border-box;
}
.um-pouco-sobre-n-s {
  background: #ffde59;
  width: 1440px;
  height: 2300px;
  position: relative;
  overflow: hidden;
}
.rectangle-19 {
  
  background: #f4f4f4;
  border-radius: 60px;
  width: 1355px;
  height: 2100px;
  position: absolute;
  left: 43px;
  top: 101px;
}
.pexels-alesia-kozik-8154255-removebg-preview-9 {
  width: 89.32px;
  height: 169.63px;
  position: absolute;
  left: 860px;
  top: 798.09px;
  transform-origin: 0 0;
  transform: rotate(-32.487deg) scale(1, -1);
}
.pexels-alesia-kozik-8154255-removebg-preview-8 {
  width: 111.6px;
  height: 185.5px;
  position: absolute;
  left: 678.13px;
  top: 274.42px;
  transform-origin: 0 0;
  transform: rotate(-147.513deg) scale(1, 1);
}
.um-pouco-sobre-n-s2 {
  color: #000000;
  text-align: left;
  font: 400 50px/47px "Anton", sans-serif;
  position: absolute;
  left: 127px;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-s-5-dynamics-uma-empresa-de-feira-de-santana-formada-por-um-grupo-de-jovens-com-intuito-de-revolucionar-o-modo-de-pensar-oferecemos-todas-as-formas-de-ideias-sugest-es-e-oportunidades-temos-vindo-a-operar-no-mercado-desde-do-in-cio-de-2023-temos-um-excelente-hist-rico-de-encontrar-solu-es-eficazes-em-todos-os-setores-nossa-miss-o-conectar-nossos-clientes-com-seu-p-blico-da-forma-mais-direta-e-envolvente-poss-vel-atrav-s-de-nossas-ideias-o-c-rebro-da-nossa-ag-ncia-a-nossa-unidade-de-estrat-gia-que-abriga-alguns-dos-melhores-e-mais-brilhantes-planejadores-n-s-oferecemos-sa-das-estrat-gicas-tais-como-roteiros-ideias-sugest-es-trabalhar-com-a-gente-apenas-o-in-cio-da-incr-vel-jornada {
  color: #000000;
  text-align: left;
  font: 400 25px/47px "Archivo", sans-serif;
  position: absolute;
  left: 87px;
  top: 234px;
  width: 770px;
  height: 40px;
}
.emagracer-correndo-1 {
  border-radius: 59px;
  width: 394.03px;
  height: 519px;
  position: absolute;
  left: 933.29px;
  top: 194px;
  transform-origin: 0 0;
  transform: rotate(0.252deg) scale(1, 1);
}


.basq {
  border-radius: 59px;
  width: 394.03px;
  height: 519px;
  position: absolute;
  left: 1003.29px;
  top: 850px;
  transform-origin: 10 0;
  transform: rotate(0.252deg) scale(1, 1);
}

.uk {
  border-radius: 59px;
  width: 394.03px;
  height: 519px;
  position: absolute;
  left: 1003.29px;
  top: 1500px;
  transform-origin: 10 0;
  transform: rotate(0.252deg) scale(1, 1);
}

.sad {
  width: 111.6px;
  height: 185.5px;
  position: absolute;
  left: 968.13px;
  top: 1524.42px;
  transform-origin: 0 0;
  transform: rotate(-147.513deg) scale(1, 1);
}

.fff {
  width: 111.6px;
  height: 185.5px;
  position: absolute;
  left: 268.13px;
  top: 2224.42px;
  transform-origin: 0 0;
  transform: rotate(-147.513deg) scale(1, 1);
}